@charset 'utf-8';

html, body {
    color: #333;
    font: 16px/28px "Arial", "Helvetica", sans-serif;
    margin: 0;
    padding: 0;
}
body {
    overflow-y: scroll;
    padding-top: 80px;
}
a {
    text-decoration: none;
}
header {
    background-color: white;
    height: 80px;
    margin-top: -80px;
    padding: 20px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999;
}
select,
input {
    font: 12px/16px "Arial", "Helvetica", sans-serif;
    max-width: 150px;
    padding: 3px 5px;
}
select {
    max-width: 165px;
}
label {
    display: block;
    font-size: 16px;
    line-height: 28px;
    overflow: visible;
    white-space: nowrap;
}
footer {
    padding: 40px;
    text-align: center;
}
.logo {
    /**/
}
.output {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.left {
    align-self: flex-start;
    text-align: left;
}
.right {
    align-self: flex-end;
    text-align: right;
}
.flex-table,
.flex-row,
.flex-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-table {
    flex-direction: column;
}
.flex-row {
    position: relative;
}
.flex-column {
    margin: 5px 15px;
    min-width: 150px;
    max-width: 150px;
}
.accordion-item:last-of-type .accordion-collapse {
    border: none;
}
.flex-column:first-of-type {
    min-width: 230px;
    max-width: 230px;
}
.flex-column.wide {
    min-width: 330px;
    max-width: 330px;
}
.flex-column.full {
    min-width: 595px;
    max-width: 595px;
}
.flex-cell {
    padding: 10px;
}
.center {
    text-align: center;
}
.spacer {
    height: 20px;
}
.toggle {
    color: #807fe2;
    cursor: pointer;
    font-size: 12px;
    margin: -5px; /* Increase the clickable area */
    padding: 5px; /* Increase the clickable area */
}
.hidden {
    display: none;
}
.center-button {
    background-image: url('../img/exchange.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid lightgray;
    height: 2em;
    position: absolute;
    right: 166px;
    width: 2em;
}
#language-dropdown {
    margin-top: 24px;
    margin-bottom: -4px;
}
/* Icons */
.icon {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: absolute;
    right: 167px;
    width: 25px;
    height: 30px;
}
/*  */
.button {
    border: 1px solid darkgray;
    padding: 0px 3px;
    background-size: 50%;
    border-radius: 5px;
    right: 160px;
}
.skull {
    background-image: url("/img/skull.png");
}
.energy {
    background-image: url("/img/energy.png");
}
.rating {
    background-image: url("/img/rating.png");
}
.exchange {
    background-image: url("/img/exchange.png");
}
/* Make the terrain and tower select wider */
.double {
    min-width: 100%;
}
/* Bootstrap style overrides */
.accordion-button {
    background-color: rgba(0,0,0,.125);
}
.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #f8f9fa;
}
.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}
.accordion-flush .accordion-item:first-of-type .accordion-button,
.accordion-flush .accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 5px;
}